<template>
    <div>
        <h3>What is PL Stat?</h3>
        <h5>
            Pl Stat allows players to predict the final PL standings, with a score being generated
            for each player based on the accuracy of their predictions.
            <br/>
            Additionally, players predict key stats for the year such as the golden boot, with points being awarded for correct predictions.
            <br/>
            See <router-link to="/scoring">scoring</router-link> for more info.
        </h5>
    </div>
</template>

<script>
export default {
    name: 'About'
}
</script>
