<template>
  <div>
    <Welcome></Welcome>
    <img alt="Premier League Logo" src="../assets/premier-league-logo-png-transparent.png" class="pl-logo">
  </div>
</template>

<script>
// @ is an alias to /src
import Welcome from '@/components/Welcome.vue'

export default {
    name: 'Home',
    components: {
        Welcome
    }
}
</script>

<style scoped>
  .pl-logo {
    width: 50%;
    max-width: 400px;
  }
</style>
