<template>
    <div>
        <h3>This Season's Players</h3>
        <div v-for="player in players" :key="player.id">
            <h5>{{player.name}}</h5>
            <h6>{{player.bio}}</h6>
            <h6>Favourite player: {{player.fav_player}}</h6>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Players',
    data: () => ({
        players: [
            {
                id: 1,
                name: 'Luke Hooker',
                bio: '"Weeeeeee\'ve got Ozil, Mesut Ozil..."',
                fav_player: 'Mesut Ozil'
            },
            {
                id: 2,
                name: 'Jordan Ralph',
                bio: '"#WengerIn"',
                fav_player: 'Olivier Giroud'
            },
            {
                id: 3,
                name: 'Karl Branscombe',
                bio: '"Chris Smalling is the best defender in the world"',
                fav_player: 'Chris Smalling'
            },
            {
                id: 4,
                name: 'Jonathan Davis',
                bio: '"I know absolutely nothing about football"',
                fav_player: 'Joe Hart'
            }
        ]
    })
}
</script>
