<template>
    <div>
        <h3>Current Premier League Table for the 2018/2019 Season</h3>
        <CurrentTable></CurrentTable>
    </div>
</template>

<script>
import CurrentTable from '@/components/CurrentTable.vue'

export default {
    name: 'PLTable',
    components: {
        CurrentTable
    }
}
</script>
