<template>
    <div>
        <h3>Player Predictions</h3>
        <PlayerPredictions></PlayerPredictions>
    </div>
</template>

<script>
import PlayerPredictions from '@/components/PlayerPredictions.vue'

export default {
    name: 'Predictions',
    components: {
        PlayerPredictions
    }
}
</script>
