<template>
    <div>
        <h3>The Scoring System</h3>
        <h4>PL Table</h4>
        <h5>Exact Match: 3 points</h5>
        <h5>Match ± 1: 1 points</h5>
        <h5>Exact Top 4 Match: 10 points</h5>
        <h5>Any Top 4 Match: 5 points</h5>
        <h5>Exact Relegation Match: 10 points</h5>
        <h5>Any Relegation Match: 5 points</h5>
        <h4>Stats</h4>
        <h5>Stat Match: 5 points</h5>
    </div>
</template>

<script>
export default {
    name: 'Scoring'
}
</script>
