<template>
    <div class="row">
        <iframe
            frameborder="0"
            scrolling="no"
            width="400"
            height="650"
            src="https://www.fctables.com/england/premier-league/iframe/?type=table&lang_id=2&country=67&template=10&team=&timezone=Europe/London&time=24&po=1&ma=1&wi=1&dr=1&los=1&gf=1&ga=1&gd=1&pts=1&ng=1&form=1&width=400&height=650&font=Verdana&fs=12&lh=22&bg=FFFFFF&fc=333333&logo=1&tlink=1&ths=1&thb=1&thba=FFFFFF&thc=000000&bc=dddddd&hob=f5f5f5&hobc=ebe7e7&lc=333333&sh=1&hfb=1&hbc=27b723&hfc=FFFFFF">
        </iframe>
    </div>
</template>

<script>
export default {
    name: 'CurrentTable'
}
</script>

<style scoped>
.row {
    text-align: center;
}
.row iframe {
    margin-left: auto;
    margin-right: auto;
}
</style>
