<template>
    <div class="row">
        <iframe
            src="https://drive.google.com/file/d/1_bSW_gUBhi1W63yaNRWNptjUL-om0sPg/preview"
            scrolling="yes"
            frameBorder="0"
        ></iframe>
    </div>
</template>

<script>
export default {
    name: 'PlayerPredictions'
}
</script>

<style scoped>
.row {
    text-align: center;
}
.row iframe {
    height: 1000px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
</style>
