<template>
    <div id="app">
        <div id="nav">
            <h1>PL Stat</h1>
            <router-link to="/">Home</router-link> |
            <router-link to="/pl-table">PL Table</router-link> |
            <router-link to="/players">Players</router-link> |
            <router-link to="/predictions">Predictions</router-link> |
            <router-link to="/scoring">Scoring</router-link> |
            <router-link to="/about">About</router-link>
        </div>
        <router-view/>
    </div>
</template>
<style lang="stylus">
#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50

#nav
  padding 30px
  a
    font-weight bold
    color #2c3e50
    &.router-link-exact-active
      color #42b983
</style>
